<footer>
  <small>
    This project is maintained by <a href="https://bigbangsocial.com/">Big Bang Social</a>.
    Check out the <a href="https://www.instagram.com/bigbangsocial/">Instagram</a>.
  </small>
</footer>
